<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page class="org.archicontribs.leanix.preferences.LeanixPreferencePage"
            id="org.archicontribs.leanix.preferences.LeanixPreferencePage"
            name="Leanix plugin">
      </page>
   </extension>
   <extension
      point="com.archimatetool.editor.importHandler">
      <importHandler2 class="org.archicontribs.leanix.LeanixImporter"
                      id="org.archicontribs.leanix.MyImporter"
                      label="import from LeanIX">
      </importHandler2>
   </extension>
</plugin>
